.prueba2 {
  font-family: "Smooch Sans", sans-serif;
}

h6 {
  color: #477707;
}

.inicio {
  position: relative;
}

.contenido {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
  background-color: rgba(127, 255, 212, 0.384);
  font-family: "Poppins", sans-serif;
}

.boton1 {
  text-decoration: none;
  color: #30065a;
  padding: 20px;
  background-color: #f55d06;
  border-radius: 15px;
  border: 2px solid palegreen;
}
.boton1:hover {
  background-color: #e6be0b;
  border: 0px solid palegreen;
}