* {
  padding: 0;
  margin: 0;
}

#presentacion {
  padding: 5%;
  border: 5px solid red;
  margin: 5%;
  max-width: 50vw;
}

.inicio {
  position: relative;
}

.contenido {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
  background-color: rgba(127, 255, 212, 0.384);
  font-family: "Poppins", sans-serif;
}

.segundo {
  max-width: 49vw;
  display: inline-block;
}

h2, h3, h4 {
  color: aqua;
  font-family: "Roboto", sans-serif;
}

h6 {
  color: #ac1eac;
  font-family: "Poppins", sans-serif;
}

div h4 {
  color: #ffbe33;
}

.ejemplo1 {
  text-align: center;
}