*{
    padding: 0;
    margin: 0;
}


$colorcito: #ac1eac;
$colorcito2:rgb(255, 190, 51);

#presentacion{
    padding: 5%;
    border: 5px solid red;
    margin: 5%;
    max-width: 50vw;
}

.segundo{

    max-width: 49vw;
    display: inline-block;
}

h2,h3,h4{

    color: aqua;
    font-family: 'Roboto', sans-serif;
}

h6{
    color: $colorcito;
    font-family: 'Poppins', sans-serif;
}

div{
    h4
    {
    color: $colorcito2;
    }
    
}

.ejemplo1{
    text-align: center;
}